<h1>Hi {{currentcustomer.firstName}}!</h1>
<p>You're logged in</p>
<h3>All registered customers:</h3>
<table style="width:100%">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Customer Name</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let customer of customers">
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.customername}} </td>
        <td>{{customer.password}}</td>
        <td><a (click)="deleteCustomer(customer.id)" class="text-danger">Delete</a></td>
    </tr>
</table>
<p><a [routerLink]="['/vehicles']">Go to Vehicles</a></p>
<p><a [routerLink]="['/login']">Logout</a></p>